[Unit]
Description=Discord Rich Presence for MPRIS media players

[Service]
Type=simple
ExecStart=/usr/bin/mprisence
Restart=always
RestartSec=5

# Basic paths we need
ReadWritePaths=%h/.config/mprisence
ReadWritePaths=%h/.cache/mprisence

[Install]
WantedBy=default.target